.project {
    position: relative;

    &__title {

        @include respond(tab-v) {
            font-size: 5rem;
        }
        display: block;
        max-width: 1080px;
        margin: 0 auto;
        margin-top: 2rem;
        padding-left: 5px;
        font-size: 3rem;
        font-weight: 300;
        color: $base-color-font;
    }
}


.project__platform {

    @include respond(tab-v) {
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        background: transparent;
    }

    @include respond(tab-h) {
        margin-top: -2rem;
        padding-top: 0;
        padding-bottom: 0;
        background: transparent;
    }
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 30rem;
    background: linear-gradient(-45deg, #1d7ea1, #25947a);
    padding-top: 1rem;
    padding-bottom: 2rem;

    &-title {

        @include respond(tab-v) {
            font-size: 3rem;
            top: 2rem;
        }
        display: inline-block;
        position: absolute;
        top: 9rem;
        left: 50%;
        padding: 5px;
        transform: translate(-50%, 0%);
        font-size: 2rem;
        font-weight: 300;
        box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);
        text-align: right;
        color: $base-color-font;
    }

    &-container {

        @include respond(tab-v) {
            margin-top: 3rem;
        }
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-top: 7rem;
    }
}

.workstation {
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);
    color: $base-color-font;

    &__title {
        margin: 0;
        padding: 5px 0;
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    &__card {
        min-width: 30rem;
        min-height: 40rem;

        &-icon {
            width: 22rem;
        }

        &-list {
            list-style-type: none;
        }

        &-title {
            padding-left: 5px;
            font-size: 1.5rem;
            font-weight: 300;
        }
        &-item {
            padding-left: 12px;
            font-size: 1.5rem;
            font-weight: 300;
        }
    }
}

.router {
    margin: 2rem 0;
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);
    color: $base-color-font;

    &__title {
        margin: 0;
        padding: 5px 0;
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    &__card {
        min-width: 30rem;
        min-height: 40rem;

        &-icon {
            display: block;
            width: 25rem;
            margin: 0 auto;
            padding: 4rem 0;
        }

        &-list {
            list-style-type: none;
        }

        &-title {
            padding-left: 5px;
            font-size: 1.5rem;
            font-weight: 300;
        }
        &-item {
            padding-left: 12px;
            font-size: 1.5rem;
            font-weight: 300;
        }
    }
}


.server {
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);
    color: $base-color-font;

    &__title {
        margin: 0;
        padding: 5px 0;
        font-size: 2.5rem;
        font-weight: 300;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    &__card {
        min-width: 30rem;
        min-height: 40rem;

        &-icon {
            display: block;
            width: 22rem;
            margin: 0 auto;
            padding-top: 3px;
        }

        &-list {
            list-style-type: none;
        }

        &-title {
            padding-left: 5px;
            font-size: 1.5rem;
            font-weight: 300;
        }

        &-item {
            padding-left: 12px;
            font-size: 1.5rem;
            font-weight: 300;
        }
    }
}

.layout {
    
    &__title-b {
        font-size: 3rem;
        font-weight: 300;
        color: $base-color-font-reverse;
        text-align: center;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        min-height: 50rem;
        margin-top: 2rem;
    }

    &__responsive {
        position: absolute;
        right: -5rem;
        bottom: 4rem;

        &-icon {
            position: absolute;
            top: 7rem;
            right: 9rem;
            width: 5rem;
        }

        &-text {
            transform: rotate(-90deg);
            font-size: 3rem;
            font-weight: 300;
            color: $base-color-font-reverse;
        }
    }

    &__flag {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4rem;
        right: 1rem;

        &-img {
            width: 4rem;
            box-shadow: -2px 3px 16px -5px rgba(0, 0, 0, 0.75);
        }

        &-text {
            font-size: 1.6rem;
            font-weight: 300;
        }
    }
    
    &-b {
        max-width: 1080px;
        margin: 0 auto;
        margin-top: 5rem;
    }
}

.layout__project {

    @include respond(tab-v) {
        margin-top: 0;
    }
    margin-top: 2rem;
    position: relative;
    min-width: 30rem;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);
    text-align: center;
    border-radius: 5px;

    &-title {
        font-size: 2rem;
        font-weight: 300;
        color: $base-color-font-reverse;
        padding: 5px 3px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }

    &-icon {
        width: 15rem;
        min-height: 11rem;
        padding: 5px;

        &--width {
            width: 18rem;
        }
    }

    &-list-link {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        font-weight: 300;
        color: $base-color-font-reverse;
        font-size: 2rem;
    }

    &-link {
        border-bottom: 1px solid rgba(38, 109, 107, 0.15);
        transition: 0.3s;
    }

    &-link:hover {
        color: rgb(18, 49, 48);
        border-bottom: 1px solid rgba(38, 109, 107, 9.15);
    }

    &-subtitle {
        margin-top: 2.5rem;
        margin-left: 1rem;
        text-align: start;
        font-size: 1.8rem;
        font-weight: 300;
        color: $base-color-font-reverse;
    }

    &-list-tech {
        margin-top: 0.5rem;
        margin-left: 2.5rem;
        text-align: start;
        font-size: 1.6rem;
        font-weight: 300;
        color: $base-color-font-reverse;
        list-style-type: none;
    }

    &-item-tech {
        padding: 2px;
    }
}

.fullstack {
    margin-top: 6rem;
    margin-bottom: 12rem;
    position: relative;
    min-height: 60rem;

    &__container--top {

        @include respond(tab-v) {
            margin-top: 15rem;
        }

        margin-top: 5rem;
    }

    &__background-img {

        @include respond(tab-v) {
            min-height: 65rem;
        }
        position: absolute;
        z-index: -1;
        top: 1px;
        width: 100%;
        min-height: 165rem;
        background-image: url("../img/2.png");
        background-size: cover;
        filter: blur(1px);

        @media only screen and (min-width: 32.1em) {
            min-height: 105rem;
        }

        &--static {
            
            min-height: 65rem;

            @media only screen and (min-width: 32.1em) {
                min-height: 65rem;
            }
            @media only screen and (min-width: 15.1em) {
                min-height: 65rem;
            }
        }
    }

    &__gradient-img {

        @include respond(tab-v) {
            min-height: 65.2rem;
        }

        position: absolute;
        z-index: -1;
        top: 0;
        min-width: 100%;
        min-height: 165.2rem;
        background: linear-gradient(-45deg, rgb(119, 127, 129), rgb(111, 175, 160));
        background-size: 200% 200%;
        opacity: 0.85;

        @media only screen and (min-width: 32.1em) {
            min-height: 105rem;
        }

        &--static {
            min-height: 65.2rem;

            @media only screen and (min-width: 32.1em) {
                min-height: 65.2rem;
            }
        }
    }

    &__title {
        padding-top: 3rem;
        font-size: 3rem;
        font-weight: 300;
        color: $base-color-font;
        text-align: center;
    }
}

.fullstack__card {
    max-width: 1080px;
    min-height: 52rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);

    &--top {
        margin-top: 5rem;
    }

    &--small {
        margin-top: 2rem;
    }

    &-title {
        display: block;
        font-size: 2rem;
        font-weight: 300;
        color: $base-color-font;
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        text-align: center;

        &--dark {
            color: $base-color-font-reverse;
        }
    }

    &-icon-mac {
        width: 22rem;
        padding: 5px;
    }

    &-list-link {
        display: flex;
        justify-content: space-around;
        max-width: 22rem;
        margin: 0 auto;
        padding: 5px 0;
        list-style-type: none;
        font-weight: 300;
        color: $base-color-font;
        font-size: 2rem;
    }

    &-link {
        border-bottom: 1px solid rgba(180, 226, 225, 0.5);
        transition: 0.3s;
    }

    &-link:hover {
        color: rgb(18, 49, 48);
        border-bottom: 1px solid rgba(38, 109, 107, 0.9);
    }

    &-subtitle {
        font-size: 2rem;
        font-weight: 300;
        color: $base-color-font;
    }

    &-name {
        margin: 0;
        font-size: 2rem;
        font-weight: 300;
        color: $base-color-font-reverse;
    }

    &-list {

        @include respond(tab-v) {
            padding-bottom: 0;
            // height: 200rem;
        }
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style-type: none;
        padding-bottom: 2rem;
    }

    &-item {
        position: relative;
        margin-top: 1.3rem;
        min-width: 25rem;
        border-radius: 5px;
        box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);
        text-align: center;

        &--big {
            min-height: 40rem;
        }
    }

    &-item-b {
        padding-bottom: 4px;
        text-align: center;
    }

    &-item-c {
        padding-top: 18px;
    }

    &-item-title {
        font-size: 1.8rem;
        font-weight: 300;
        color: $base-color-font;
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid rgba(38, 109, 107, 0.4);

        &--dark {
            color: $base-color-font-reverse;
        }
    }

    &-img {
        width: 5.7rem;
    }

    &-img--big {
        width: 14rem;
    }

    &-img--mid {
        width: 10rem;
    }

    &-img--top {
        margin-top: 5px;
    }

    &-desktop {
        padding: 10px 0;
        font-size: 2rem;
        font-weight: 300;
        color: $base-color-font;
    }

    &-license {
        font-size: 2rem;
        font-weight: 300;
        color: $base-color-font;
    }
}


.fullstack__flag {
    display: flex;
    flex-direction: column;
    
    &--rus {
        position: absolute;
        right: 1rem;
        bottom: 6rem;
    }

    &--usa {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
    }

    &-img {
        width: 4rem;
        box-shadow: -2px 3px 16px -5px rgba(0, 0, 0, 0.75);
    }

    &-text {
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.schema {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    padding: 1rem;

    &__part {
        display: flex;
        height: 17rem;
    }

    &__item {
        position: relative;
        width: 7rem;
        height: 7rem;
        border: 1px solid $base-color-font-reverse;
        border-radius: 50%;
        box-shadow: -2px 3px 16px -5px rgba(0, 0, 0, 0.75);

        &-circle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &-circle--fix {
            position: absolute;
            top: 9.5rem;
            left: 0.6rem;
        }

        &-img {
            width: 6rem;
            height: 6rem;
        }

        &-img--fix {
            width: 6rem;
            height: 6rem;
            padding-top: 0.8rem;
        }

        &-title {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            font-size: 1.8rem;
            font-weight: 600;
        }

        &-list {
            padding: 1rem;
            list-style: none;
            font-size: 1.6rem;
            font-weight: 400;
            text-align: center;
        }

        &-el--fix {
            width: 18rem;
        }
    }
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 10rem;
    margin: 0 1rem;
    font-size: 2rem;


    &__title--fix {
        position: absolute;
        top: 0.8rem;
        left: -6rem;
    }

    &__view {
        display: flex;
        font-size: 3rem;

        &--ver {
            position: absolute;
            top: 0.7rem;
            left: 1.2rem;
            transform: rotate(90deg);
        }
    }
}