$base-color-font: rgb(255,255,255);
$base-color-font-reverse: rgb(38, 109, 107);
$base-color-decoration: rgb(255,255,255);
$base-color-icon:  rgb(13, 77, 77);
$base-background-color: rgb(239, 241, 236);
$background-card: rgb(54, 165, 161);

$base-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);