.contacts {
    max-width: 1080px;
    margin: 0 auto;

    &__title {

        @include respond(tab-v) {
            font-size: 5rem;
        }
        margin-top: 2rem;
        padding-left: 5px;
        font-size: 3rem;
        font-weight: 300;
        color: $base-color-font;
    }

    &__container {

        @include respond(tab-h) {
            justify-content: space-between;
        }
        
        display: flex;
        align-items: center;
        justify-content: center;

        &-item {
            padding: 1rem;
        }
    }

    &__main {

        @include respond(phone) {
            font-size: 2rem;
            min-width: 40rem;
        }

        @include respond(tab-v) {
            font-size: 3rem;
            min-width: 60rem;
        }
        font-size: 1.8rem;
        min-width: 20rem;

        &-list {
            list-style-type: none;
        }

        &-item {

            @include respond(tab-v) {
                &--2 {
                    margin-left: 10rem;
                }
    
                &--3 {
                    margin-left: 20rem;
                }
    
                &--4 {
                    margin-left: 30rem;
                }
            }
            margin: 2rem;
            padding: 1rem;
            color: $base-color-font;
            border-radius: 5px;
            box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);

            &--1 {
                margin-left: 0;
            }

            &--2 {
                margin-left: 0;
            }

            &--3 {
                margin-left: 0;
            }

            &--4 {
                margin-left: 0;
            }
        }

        &-link {
            width: 100%;
            font-weight: 300;
            transition: 0.3s;
        }

        &-link:hover {
            text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgba(65, 61, 61, 0.7);
        }
    }

    &__social {

        @include respond(tab-v) {
            min-width: 48rem;
        }

        @include respond(tab-v) {

            &-item {
                margin: 0.5rem;
                
                &--2 {
                    margin-left: 8rem;
                }
    
                &--3 {
                    margin-left: 16rem;
                }
    
                &--4 {
                    margin-left: 24rem;
                }
    
                &--5 {
                    margin-left: 32rem;
                }
    
                &--6 {
                    margin-left: 40rem;
                }
            }
        }
        min-width: 8rem;

        &-list {
            flex-direction: column;
        }

        &-link {

            @include respond(tab-v) {
                width: 6rem;
                height: 6rem;
            }
            display: table-cell;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);
            text-align: center;
            vertical-align: middle;
            color: $base-color-font;
            transition: 0.5s;
        }

        &-link:hover {
            background-color: rgba(20, 151, 168, 0.75);
        }

        &-item {
            margin: 0.5rem;
            
            &--1 {
                margin-left: 0;
            }

            &--2 {
                margin-left: 0;
            }

            &--3 {
                margin-left: 0;
            }

            &--4 {
                margin-left: 0;
            }

            &--5 {
                margin-left: 0;
            }

            &--6 {
                margin-left: 0;
            }
        }

        &-item > a {

            @include respond(tab-v) {
                font-size: 2.5rem;
            }
            font-size: 1.8rem;
        }
    }

    &__bye {
        margin-top: 1rem;
    }
}

.bye {

    @include respond(tab-v) {
        min-height: 40rem;
    }
    @include respond(tab-h) {
        min-height: 30rem;
    }
    min-height: 20rem;
    overflow: hidden;
    backface-visibility: hidden;
    font: 5vw/20vh "Finger Paint", "Open Sans", sans-serif;
    text-align: center;
    color: transparent;
}

.bye__span {

    @include respond(tab-v) {
        font-size: 8rem;
    }
    display: inline-block;
    text-shadow: 0 0 0 $base-color-font-reverse;
    font-size: 4rem;
    animation: smoky 5s 3s both;
}
  
.bye__span:nth-child(even) {
    animation-name: smoky-mirror;
}
  
@keyframes smoky {
    60% {
        text-shadow: 0 0 40px $base-color-font-reverse;
    }
    to {
        transform:
            translate3d(7rem, -4rem, 0)
            rotate(-40deg)
            scale(1.5);
        text-shadow: 0 0 20px $base-color-font-reverse;
        opacity: 0;
        filter: blur(4px);
    }
}
  
@keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px $base-color-font-reverse;
    }
    to {
        transform:
            translate3d(9rem, -4rem, 0)
            rotate(-40deg)
            scale(2);
        text-shadow: 0 0 20px $base-color-font-reverse;
        opacity: 0;
        filter: blur(4px);
    }
}
  
@for $item from 1 through 14 {
    .bye__span:nth-of-type(#{$item}) {
        animation-delay: #{(3 + ($item/10))}s;
    }
} 