.skills {

    &__header {
        max-width: 1080px;
        margin: 0 auto;
    }
   
    &__title {

        @include respond(tab-v) {
            font-size: 5rem;
        }
        margin-top: 2rem;
        padding-left: 5px;
        font-size: 3rem;
        font-weight: 300;
        color: $base-color-font;
    }

    &__subtitle {

        @include respond(tab-v) {
            font-size: 5rem;
        }
        font-size: 2.5rem;
        font-weight: 300;
        color: $base-color-font;
        padding: 1rem;
        box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);

        &--1 {
            align-self: flex-start;
        }

        &--2 {
            align-self: center;
        }

        &--3 {
            align-self: flex-end;
        }

        &-container {
            display: flex;
            justify-content: space-around;
            min-height: 30rem;
            padding: 5px;
            margin-top: 8rem;
        }
    }

    &__frontend {
        margin-top: 10rem;
    }
}

.frontend {

    @include respond(tab-v) {
        margin-top: 25rem;
    }

    @include respond(tab-h) {
        margin-top: 22rem;
    }
    margin-top: 15rem;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1080px;
        margin: 9rem auto;
    }

    &__title {
        color: $base-color-font;
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        text-shadow: 1px 2px 6px rgb(0, 0, 0), 0 0 1em rgb(35, 136, 122);
    }


    &__img {
     
        @include respond(phone) {
            max-width: 33rem;
        }
        
        @include respond(tab-v) {
            max-width: 80rem;
        }
        max-width: 15rem;
    }
}

.internet {

    &__title {
        padding: 5px;
        font-size: 3rem;
        font-weight: 300;
    }

    &__list {
        padding-left: 1rem;
        list-style-type: none;
    }

    &__item {
        padding: 5px;
        font-size: 2rem;
        font-weight: 300;
    }
}

.web {

    @include respond(tab-v) {
        flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 100;
    max-width: 1080px;
    min-height: 65rem;
    margin: 0 auto;

    &__container {
        position: relative;
    }

    &__background-img {

        @include respond(tab-v) {
            min-height: 65rem;
        }
        position: absolute;
        z-index: -1;
        top: 1px;
        width: 100%;
        min-height: 129rem;
        background-image: url("../img/2.png");
        background-size: cover;
        filter: blur(1px);
    }

    &__gradient-img {

        @include respond(tab-v) {
            min-height: 65.2rem;
        }
        position: absolute;
        z-index: -1;
        top: 0;
        min-width: 100%;
        min-height: 129.5rem;
        background: linear-gradient(-45deg, #e4e9eb, #a1f5e1);
        background-size: 200% 200%;
        opacity: 0.85;
    }
}

.html {
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: space-between;
    min-height: 40rem;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);

    &__icon {
        max-width: 10rem;
        margin-right: 5px;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px;
        font-size: 2rem;
    }
}

.css {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
    min-height: 40rem;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);

    &__icon {
        max-width: 10rem;
        margin-right: 5px;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px;
        font-size: 2rem;
    }
}

.layout {

    &__list {
        margin-left: 2rem;
        list-style-type: none;
    }

    &__item {
        padding: 3px;
    }
}

.js {
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: space-between;
    min-height: 40rem;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);

    &__icon {
        max-width: 10rem;
        margin-right: 5px;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px;
        font-size: 2rem;
    }
}

.concepts {

    &__list {
        margin-left: 2rem;
        list-style-type: none;
    }

    &__item {
        padding: 3px;
    }
}

.frontend__workflow {

    &-container {

        @include respond(tab-v) {
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 1080px;
        margin: 10rem auto;
    }
}

.workflow {
  
    &__title {
        padding-bottom: 2rem;
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
    }

    &__box {

        @include respond(tab-v) {
            padding-bottom: 0;
        }
        display: flex;
        justify-content: space-between;
        padding-bottom: 3rem;
    }

    &__icon {

        @include respond(phone) {
            display: block;
            max-width: 19rem;
        }
        
        @include respond(tab-v) {
            display: block;
            max-width: 19rem;
        }
        display: none;
    }

    &__list {
        padding: 5px;
        list-style-type: none;
    }

    &__item {
        padding: 5px;
        font-size: 2rem;
    }
}

.libs {
    
    &__title {
        padding-bottom: 2rem;
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
    }

    &__item-title {
        padding: 5px;
        font-weight: 300;
        text-align: center;
    }

    &__item-icon {

        @include respond(phone) {
            max-width: 10rem;
        }
        max-width: 7rem;
        padding: 5px;
    }

    &__list {
        display: flex;
        min-height: 30rem;
        list-style-type: none;
    }

    &__item {
        padding: 5px;
        font-size: 2rem;
        font-weight: 300;

        &--1 {
            margin-top: 0;
        }

        &--2 {
            margin-top: 5rem;
        }

        &--3 {
            margin-top: 10rem;
        }

        &--4 {
            margin-top: 21rem;
        }
    }
}

.backend {
    margin-top: 10rem;

    &__title {
        color: $base-color-font;
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        text-shadow: 1px 2px 6px rgb(0, 0, 0), 0 0 1em rgb(35, 136, 122);
    }

    &__header {

        @include respond(phone) {
            flex-direction: row;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: 1080px;
        margin: 8rem auto;
        padding: 5px;
    }

    &__img {

        @include respond(phone) {
            display: block;
        }
        
        @include respond(tab-v) {
            display: block;
            max-width: 60rem;
            height: 100%;
        }
        max-width: 27rem;
        height: 20rem;
    }
}

.os {

    &__title {
        padding: 5px;
        font-size: 3rem;
        font-weight: 300;
    }

    &__list {
        padding-left: 1rem;
        list-style-type: none;
    }

    &__item {
        padding: 5px;
        font-size: 2rem;
        font-weight: 300;
    }
}

.platform {
    position: relative;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1080px;
        margin: 8rem auto;
    }

    &__background-img {

        @include respond(phone) {
            min-height: 182rem;
        }

        @include respond(tab-v) {
            min-height: 65rem;
        }
        position: absolute;
        z-index: -1;
        top: 1px;
        width: 100%;
        min-height: 292rem;
        background-image: url("../img/2.png");
        background-size: cover;
        filter: blur(1px);

        @media only screen and (min-width: 28.5rem) {
            min-height: 182rem;
        }

        @media only screen and (min-width: 42.15rem) {
            min-height: 122rem;
        }
    }

    &__gradient-img {

        @include respond(phone) {
            min-height: 182.2rem;
        }

        @include respond(tab-v) {
            min-height: 65.2rem;
        }
        position: absolute;
        z-index: -1;
        top: 0;
        min-width: 100%;
        min-height: 292.2rem;
        background: linear-gradient(-45deg, #e4e9eb, #a1f5e1);
        background-size: 200% 200%;
        opacity: 0.85;

        @media only screen and (min-width: 28.5rem) {
            min-height: 182.2rem;
        }

        @media only screen and (min-width: 42.15rem) {
            min-height: 122.2rem;
        }
    }
}

.block {
    display: flex;
    flex-direction: column;
    min-width: 20rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);

    &__title {
        padding: 5px 0;
        font-size: 3rem;
        font-weight: 300;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #a1f5e1;
    }

    &__item {
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);
    }

    &__img {
        width: 10rem;
    }

    &__name {
        font-size: 2rem;
        font-weight: 300;
    }
}

.devops__container {
    position: relative;
    margin: 18rem auto;
}

.devops {
    margin-top: 15rem;

    &__title {
        color: $base-color-font;
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        text-shadow: 1px 2px 6px rgb(0, 0, 0), 0 0 1em rgb(35, 136, 122);
    }

    &__header {
        max-width: 1080px;
        margin: 8rem auto;
        text-align: center;
    }

    &__img {

        @include respond(phone) {
            max-width: 55rem;
        }
        
        @include respond(tab-v) {
            max-width: 70rem;
        }
        max-width: 35rem;
    }

    &__background-img {

        @include respond(tab-v) {
            min-height: 65rem;
        }
        position: absolute;
        z-index: -1;
        top: 1px;
        width: 100%;
        min-height: 120rem;
        background-image: url("../img/2.png");
        background-size: cover;
        filter: blur(1px);
    }

    &__gradient-img {

        @include respond(tab-v) {
            min-height: 65.3rem;
        }
        position: absolute;
        z-index: -1;
        top: 0;
        min-width: 100%;
        min-height: 120.3rem;
        background: linear-gradient(-45deg, #e4e9eb, #a1f5e1);
        background-size: 200% 200%;
        opacity: 0.85;
    }
}

.devops__top {

    @include respond(tab-v) {
        flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 4rem;
}

.ops {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    width: 25rem;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 25rem;
        padding: 5px;
    }

    &__title {
        font-size: 2rem;
        font-weight: 300;
    }

    &__icon {
        max-width: 10rem;
        text-align: center;
        margin-right: 5px;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px;
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.systems {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    width: 25rem;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);

    &__title {
        font-size: 2rem;
        font-weight: 300;
    }

    &__icon {
        max-width: 10rem;
        text-align: center;
        margin-right: 5px;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px;
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.linux {
    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px;
    }
}

.unix {
    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px;
    }
}

.managing-servers {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    min-height: 40rem;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: -2px 3px 46px -5px rgba(0, 0, 0, 0.75);

    &__title {
        font-size: 2rem;
        font-weight: 300;
    }

    &__icon {
        max-width: 10rem;
        text-align: center;
        margin-right: 5px;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px;
        font-size: 1.6rem;
        font-weight: 300;
    }
}

.terminal {
    
    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px;
    }
}

.protocols {

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 5px;
    }
}


.addition {
    max-width: 1080px;
    margin: 0 auto;

    &__text {
        font-size: 3rem;
        font-weight: 300;
        padding: 5px;
    }

    &__img {
        width: 20rem;
        opacity: 0.6;

        &--keyboard {
            margin-left: 10%;
            margin-bottom: 4rem;
        }

        &--eye {

            @include respond(tab-v) {
                margin-left: 70%;
            }
            margin-left: 35%;
        }
    }
}